
.centro{

text-align: center;
font-weight: bold;
}

section.Empleados, section.empleados {
 
    margin-top: 25px;
   
}


section.empleados select, 
section.empleados button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

section.empleados select {
    background-color: var(--inputs);
    color: var(--textoPrincipal);
}

section.empleados button {
    background-color: var(--botones1);
    color: var(--textoPrincipal);
    cursor: pointer;
    transition: background-color 0.3s;
}

section.empleados button:hover {
    background-color: var(--hover);
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 12px 25px;
}


nav .btn3 {
    color: #fff;
    background-color: #2c2c2c;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}


nav .btn3:hover {
    background-color: #d62828; 
    border-color: #d62828;
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}


nav .btn3:active {
    transform: scale(0.97);
}

.porcentaje {
  width: 80px;
  padding: 8px 10px;
  border: 2px solid #555;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  outline: none;
  transition: 0.3s ease;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
}

.porcentaje::placeholder {
  color: #aaa;
  opacity: 0.8;
}

.resultado-nomina {
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #2b2b2b;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: #fff;
  font-size: 16px;
}

.valor-nomina {
  color: #e40046;
  font-weight: bold;
  font-size: 18px;
}

select.porcentaje {
  width: 150px;
  padding: 8px 10px;
  border: 2px solid #555;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: white;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
}

select.porcentaje:focus {
  border-color: #e40046;
  background-color: #4a4a4a;
  box-shadow: 0 0 8px #e40046;
}

